<div class ="jumbotron">
	<h1>Hi!</h1>
	<p>This is a Pinterest style app for my friends and family. Feel free to create an account to add pictures that you want to share. But remember, this is a family web site.</p>
	
	<% if user_signed_in? %>
		

	<% else %>
		<p>
			<%= link_to "Login", new_user_session_path , class: "btn btn-primary btn-lg"%>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-default btn-lg"%>
		</p>
	<% end %>	


</div>