<h1>About me</h1>
<p>I ended up in software PM without any prior engineering background and eventually decided I had to learn how to code. So I've been learning at One Month the basics of Ruby on Rails. This is my first project.</p>